{
	"*.{js,mjs,cjs,ts,mts,cts,svelte}": ["eslint --fix", "prettier --write -u"],
	"!(*.{js,mjs,cjs,ts,mts,cts,svelte}|package.json)": "prettier --write -u",
	"package.json": ["sort-package-json", "prettier --write"]
}
